@media (max-width:768px) {
  .text-content{
    align-items: center !important;
    justify-content: center !important;
  }

}
@media (max-width:991px) {
  /*portfolio*/
   .sec1 h3{
        text-align: center;
    }
      .d{
        justify-content: center !important;
        text-align: center;
    }
    .delet{
      display: none ;
    }
   
    /*end portfolio*/
    .text-content span{
      font-size: 49px;
      line-height: 50px;
    }
    a.btn-default.active{
      font-size: 10px;
    }
    

.header .title {
    font-size: 45px;
    line-height: 62px;
}
/*trian*/
.bg-half-layer i.fa-play{
  left: 50%;
}
.bg-half-layer .teacher{
  left: 388px;
}
.side{
width: 60px !important;
left: 100px ;

}
.w img {
  width: 102px;
}
.nav-head{
  line-height: 5px;
    font-size: 10px;

}
.dropdown-menu{
  font-size: 13px;
  
}
}
@media (max-width: 568px){
  .side{
    display: none;
  }
  .text-content{
    align-items: center !important;
    justify-content: center !important;
  }
  .header .title {
    font-size: 38px;
    line-height: 50px;
}
a.demos, a.purchase {
  font-size: 16px !important;
}
.ps-5{
  padding-left: 0px !important;
}
}